dist
*classes
*.class
target/
build/
build_eclipse/
out/
.gradle/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
patch-process/*
.idea
.svn
.classpath
/.metadata
/.recommenders
*~
*#
.#*
rat.out
TAGS
*.iml
.project
.settings
*.ipr
*.iws
.vagrant
Vagrantfile.local
/logs
.DS_Store

config/server-*
config/zookeeper-*
core/data/*
gradle/wrapper/*.jar
gradlew.bat

results
tests/results
.ducktape
tests/.ducktape
tests/venv
.cache

docs/generated/

.release-settings.json

kafkatest.egg-info/
systest/
*.swp
clients/src/generated
clients/src/generated-test
jmh-benchmarks/generated
jmh-benchmarks/src/main/generated
streams/src/generated
raft/src/generated
core/src/generated
metadata/src/generated
/core/data2/kafka-7797178085101180522/fakeTopic-0/00000000000000000000.index
/core/data2/kafka-9168689329813640813/test-topic-1/00000000000000000000.index
/core/data2/kafka-7797178085101180522/fakeTopic-0/00000000000000000000.log
/core/data2/kafka-9168689329813640813/test-topic-1/00000000000000000000.log
/core/data2/kafka-7797178085101180522/fakeTopic-0/00000000000000000000.timeindex
/core/data2/kafka-9168689329813640813/test-topic-1/00000000000000000000.timeindex
/core/data2/kafka-7797178085101180522/fakeTopic-0/leader-epoch-checkpoint
/core/data2/kafka-9168689329813640813/test-topic-1/leader-epoch-checkpoint
/core/data2/kafka-7797178085101180522/log-start-offset-checkpoint
/core/data2/kafka-9168689329813640813/test-topic-1/partition.metadata
/core/data2/kafka-7797178085101180522/recovery-point-offset-checkpoint
/core/data2/kafka-7797178085101180522/replication-offset-checkpoint
